[Unit]
Description = TUNA mirrors sync worker
After=network.target
# yum -y install  libcgroup libcgroup-tools

[Service]
Type=simple
User=root
Group=root
PermissionsStartOnly=true
ExecStartPre=/usr/bin/cgcreate -t tunasync -a tunasync -g memory:tunasync
ExecStart=/usr/bin/tunasync worker -c /repo/tunasync/conf/worker.conf --with-systemd
ExecReload=/bin/kill -SIGHUP $MAINPID
ExecStopPost=/usr/bin/cgdelete memory:tunasync

[Install]
WantedBy=multi-user.target
