[mysqld]  
#Encoding
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4

# 使用 mysql_native_password 密码策略，防止 natvicat 连不上 MySQL
default_authentication_plugin=mysql_native_password
# secure-file-priv= NULL
symbolic-links=0
lower_case_table_names=1
 
#Replication Framework  
gtid_mode=ON
enforce_gtid_consistency=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_checksum=NONE
log_slave_updates=ON
log_bin=binlog
binlog_format=ROW
 
plugin-load=group_replication.so
 
# Host specific replication configuration
server_id=1
 
#bind-address=192.168.99.243
report_host=mysqld0
  
#Group Replication
transaction_write_set_extraction=XXHASH64  
loose-group_replication_group_name="85e048a3-270c-4450-ae5b-538e52ac9eba" 
loose-group_replication_local_address="mysqld0:33061"
loose-group_replication_start_on_boot=off  
loose-group_replication_group_seeds="mysqld0:33061,mysqld2:33061,mysqld2:33061"  
loose-group_replication_bootstrap_group=off
loose-group_replication_single_primary_mode = on